{% extends 'polls/layout.html' %}

{% block title %}Создание вопроса{% endblock %}

{% block header %}
<header class="header">
    <h1><a href="{% url 'polls:index' %}">Главная</a></h1>
    <nav class="header-links">
        <a href="{% url 'polls:create_question' %}">Добавить новость</a>
        <a href="{% url 'polls:profile' %}" class="trigger-burger-menu">Профиль</a>
        <nav class="burger-menu">
            <a href="{% url 'polls:edit_profile' %}">Редактировать</a>
            <a href="{% url 'polls:logout' %}">Выйти</a>
        </nav>
    </nav>
</header>
{% endblock %}

{% block main %}
<main class="main-bg">
    <div class="block-create-qs">
        <h1>Создать новый вопрос</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ question_form.as_p }}
            <h2>Варианты ответов</h2>
            {% for form in choice_forms %}
            {{ form.as_p }}
            {% endfor %}
            <div class="block-create-qs-but">
                <button type="submit">Создать вопрос</button>
                <a href="{% url 'polls:index' %}">Назад к вопросам</a>
            </div>
        </form>

    </div>
</main>
{% endblock %}