{% extends 'polls/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block header %}
<header class="header">
    <h1><a href="{% url 'polls:index' %}">Главная</a></h1>
    <nav class="header-links">
        <a href="{% url 'polls:create_question' %}">Добавить новость</a>
        <a href="{% url 'polls:profile' %}" class="trigger-burger-menu">Профиль</a>
        <nav class="burger-menu">
            <a href="{% url 'polls:edit_profile' %}">Редактировать</a>
            <a href="{% url 'polls:logout' %}">Выйти</a>
        </nav>
    </nav>
</header>
{% endblock %}

{% block main %}
<main class="main-bg">
    <div class="block-index">
        <h1>Список вопросов</h1>
        
            {% for question in latest_question_list %}
            
                <a href="{% url 'polls:detail' question.id %}" class="block-index-a">{{ question.question_text }}</a>
            
            {% endfor %}
    </div>
</main>
{% endblock %}